
<div class="d-flex">
  <div>
    <div class="titre">
      <h1>Your listing</h1>
      <p>MyIgloo thank you to list your propriety</p> 
      <p>Letting your igloo on MyIgloo enables you to generate more rental income and this 
      is why an increasing number of owners are letting their property on MyIgloo.</p>
    </div>
    <div class="cardsigloo">
      <% @user_igloos.each do |igloo|  %>
        <div class="igloo-card">
          <div class="igloo-image">
              <%= link_to igloo_path(igloo) do %>
              <%= cl_image_tag igloo.photos.first.key%>
              <% end %>
          </div>
          <div class="igloo-name">
            <h3><%= igloo.name %></h3>
            <h4><%= igloo.price %>€</h4>
            <p><%= igloo.address %></p>
          </div>
        </div>
      <% end %>
    </div>