<div class="d-flex">
  <div>
    <div class="titre">
      <h1>Unique stays</h1>
      <p>Get out and stretch your imagination. </br>Plan a different kind of getaway to uncover the hidden gems near you.</p>
    </div>
    <div class="cardsigloo">
      <% @igloos.each do |igloo| %>
        <div class="igloo-card">
          <div class="igloo-image">
            <%= link_to igloo_path(igloo) do %>
            <%= cl_image_tag igloo.photos.first.key %>
            <% end %>
          </div>
          <div class="igloo-name">
            <h3><%= igloo.name %></h3>
            <p><%= igloo.description[0..70] %>...</p>
            <h4><%= igloo.price %>€</h4>
            <div class="star_icons">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'shared/maps' %>
</div>


