<div class="container-simpleform">
  <div class="simpleform-igloo">
  <h1> Add an igloo </h1>

    <%= simple_form_for(@igloo) do |f| %>
      <%= f.input :name, placeholder: "Name", label: false %>
      <%= f.input :address, placeholder: "address", label: false %>
      <%= f.input :description, placeholder: "description", label: false %>
      <%= f.submit %>
    <% end %>

    <%= link_to "back to the list", igloos_path %>
  </div>
</div>

